  <%- include("partials/header") -%>

  <section id="selection">
    <div class="container-fluid">
      <% if (errorMessage !== "") { %>
        <div class="alert-section">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <div class="alert-message">
              <strong>Error!</strong> <%= errorMessage %>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      <% } %>
      <% if (warningMessage !== "") { %>
        <div class="alert-section">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div class="alert-message">
              <strong>Warning!</strong> <%= warningMessage %>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      <% } %>
      <% if (successMessage !== "") { %>
        <div class="alert-section">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <div class="alert-message">
              <strong>Success!</strong> <%= successMessage %>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      <% } %>
      <h1 class="selection-heading">Select a Pokémon!</h1>
      <form action="/" method="post">
        <div class="row">
          <div class="col-lg-8">
            <label for="pokemon-name" class="form-label selection-label">Pokémon</label>
            <div class="input-group">
              <select class="form-select all-pokemon-selection" id="pokemon-name" name="name">
                <option value="" hidden>Choose/Type a Pokémon...</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <label for="pokemon-form" class="form-label selection-label">Form</label>
            <select class="form-select" id="pokemon-form" name="form">
              <option value="not-shiny">Not Shiny</option>
              <option value="shiny">Shiny</option>
            </select>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-dark selection-button">Add Pokémon</button>
        </div>
      </form>
    </div>
  </section>

  <% if (pokemonList.length > 0) { %>
    <section id="team">
      <div class="container-fluid">
        <div class="text-center">
          <h1 class="team-heading">Your Team!</h1>
          <button type="button" class="btn btn-dark team-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-save">Save</button>
          <button type="button" class="btn btn-dark team-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-load">Load</button>
          <form action="/clear" method="post" class="clear-form">
            <button type="submit" class="btn btn-dark team-button">Clear</button>
          </form>
          <button type="button" class="btn btn-dark team-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-sort">Sort</button>
          <div class="offcanvas offcanvas-start" id="offcanvas-save" tabindex="-1" data-bs-scroll="true">
            <div class="offcanvas-header">
              <h5 class="offcanvas-heading">Save Your Team!</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div class="text-section text-center login-section">
                <p class="login-text">To save a team and be able to see it later, please enter a <strong>UNIQUE</strong> and <strong>MEMORABLE</strong> username!</p>
                <form action="/save-team" method="post">
                  <label for="username" class="offcanvas-label">Username</label>
                  <input type="text" class="form-control username-input" id="username" name="username" required>
                  <button type="submit" class="btn btn-dark">Save Team</button>
                </form>
              </div>
            </div>
          </div>
          <div class="offcanvas offcanvas-start" id="offcanvas-sort" tabindex="-1" data-bs-scroll="true">
            <div class="offcanvas-header">
              <h5 class="offcanvas-heading">Sort Your Team!</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div class="text-section text-center login-section">
                <p class="login-text">Select the way you want to sort your team!</p>
                <form action="/sort-team" method="post">
                  <select class="form-select sort-form" name="sortOrder">
                    <option value="a-z">Alphabetical Order (A-Z)</option>
                    <option value="z-a">Reverse Alphabetical Order (Z-A)</option>
                    <option value="high-low-stat">Highest Base Stat Total - Lowest Base Stat Total</option>
                    <option value="low-high-stat">Lowest Base Stat Total - Highest Base Stat Total</option>
                    <option value="short-tall">Shortest - Tallest</option>
                    <option value="tall-short">Tallest - Shortest</option>
                    <option value="light-heavy">Lightest - Heaviest</option>
                    <option value="heavy-light">Heaviest - Lightest</option>
                    <% for (let i = 0; i < statNames.length; i++) { %>
                      <% let stat = statNames[i]; %>
                      <option value="<%= "low-high-" + i %>"><%= `Lowest ${stat} - Highest ${stat}` %></option>
                      <option value="<%= "high-low-" + i %>"><%= `Highest ${stat} - Lowest ${stat}` %></option>
                    <% } %>
                  </select>
                  <button type="submit" class="btn btn-dark">Sort Team</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="border border-secondary rounded team-navigation text-center">
          <% for (let i = 0; i < pokemonList.length; i++) { %>
            <button class="icon-button" name="<%= pokemonList[i].originalName %>"><img src="<%= pokemonList[i].iconURL %>"></button>
          <% } %>
        </div>
        <% for (let i = 0; i < pokemonList.length; i++) { %>
          <% const pokemon = pokemonList[i]; %>
          <div class="card border-secondary mb-3" id="<%= pokemon.originalName %>">
            <div class="card-header">
              <div class="row">
                <div class="col-10">
                  <h3 class="pokemon-heading"><%= pokemon.name %></h3>
                  <% for (let j = 0; j < pokemon.types.length; j++) { %>
                    <img class="type-icon" src="<%= 'images/types/' + pokemon.types[j] + '.webp' %>">
                  <% } %>
                </div>
                <div class="col-2">
                  <form action="/remove" method="post">
                    <button type="submit" name="removeButton" value="<%= i %>" class="btn btn-outline-danger remove-button">
                      <i class="fas fa-times remove-icon"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3">
                  <div class="row text-center">
                    <div class="col-0 col-sm-0 col-md-2 col-lg-0"></div>
                    <div class="col-12 col-md-2 col-lg-12">
                      <img class="pokemon-sprite" src="<%= pokemon.spriteURL %>">
                    </div>
                    <div class="col-0 col-sm-2 col-md-1 col-lg-0"></div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-12 measurement-section">
                      <h5 class="measurement-heading">Height</h5>
                      <p><%=pokemon.height %></p>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-12 measurement-section">
                      <h5 class="measurement-heading">Weight</h5>
                      <p><%=pokemon.weight %> lbs</p>
                    </div>
                    <div class="col-0 col-sm-2 col-md-1 col-lg-0"></div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-8">
                  <% for (let j = 0; j < statNames.length; j++) { %>
                    <p class="stat-name"><%= statNames[j] %></p>
                    <div class="<%= "stat-value-" + pokemon.stats[j] %>">
                      <div class="progress stat-bar">
                        <div class="progress-bar bg-dark"><%= pokemon.stats[j] %></div>
                      </div>
                    </div>
                  <% } %>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                  <h5 class="third-column-heading">Abilities</h5>
                  <ul class="no-bullet-list">
                    <% for (let j = 0; j < pokemon.abilities.length; j++) { %>
                      <% if (pokemon.abilities[j].isHidden) { %>
                        <li><a class="link-danger link" href="<%= pokemon.abilities[j].url %>"target="_blank"><%= pokemon.abilities[j].ability %></a></li>
                      <% } else { %>
                        <li><a class="link" href="<%= pokemon.abilities[j].url %>"target="_blank"><%= pokemon.abilities[j].ability %></a></li>
                      <% } %>
                    <% } %>
                  </ul>
                  <h5 class="third-column-heading">Notable Moves</h5>
                  <ul class="no-bullet-list">
                    <% for (let j = 0; j < pokemon.notableMoves.length; j++) { %>
                      <li><a class="link" href="<%= pokemon.notableMoves[j].url %>" target="_blank"><%= pokemon.notableMoves[j].name %></a></li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </section>
  <% } else { %>
    <div class="container-fluid load-team-section text-center">
      <p>Already saved a team from a previous session? <a class="link" data-bs-toggle="offcanvas" href="#offcanvas-load" role="button">Load your team!</a></p>
    </div>
  <% } %>
  <!-- The Load Team offcanvas sidebar is used in both the if block and else block above, so we must place it outside both -->
  <div class="offcanvas offcanvas-start" id="offcanvas-load" tabindex="-1" data-bs-scroll="true">
    <div class="offcanvas-header">
      <h5 class="offcanvas-heading">Load Your Team!</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="text-section text-center login-section">
        <p class="login-text">To view your team from a previous session, please enter the username you used to save the team!</p>
        <form action="/load-team" method="post">
          <label for="username" class="offcanvas-label">Username</label>
          <input type="text" class="form-control username-input" id="username" name="username" required>
          <button type="submit" class="btn btn-dark">Load Team</button>
        </form>
      </div>
    </div>
  </div>
  <!-- jQuery, Bootstrap Bundle with Popper, and custom scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script src="scripts/allPokemon.js"></script>
  <script src="scripts/scrollHandler.js"></script>
  <script src="scripts/setBarWidth.js"></script>
</body>
</html>