  <%- include("partials/header") -%>

  <section id="selection">
    <div class="container-fluid">
      <% if (errorMessage !== "") { %>
        <div class="alert-section">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <div class="alert-message">
              <strong>Error!</strong> <%= errorMessage %>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      <% } %>
      <% if (warningMessage !== "") { %>
        <div class="alert-section">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div class="alert-message">
              <strong>Warning!</strong> <%= warningMessage %>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      <% } %>
      <% if (successMessage !== "") { %>
        <div class="alert-section">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <div class="alert-message">
              <strong>Success!</strong> <%= successMessage %>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      <% } %>
      <h1 class="selection-heading">Select a Pokémon!</h1>
      <form action="/" method="post">
        <div class="row">
          <div class="col-lg-8">
            <label for="pokemon-name" class="form-label selection-label">Pokémon</label>
            <div class="input-group">
              <select class="form-select" id="pokemon-name" name="name" required>
                <option value="" hidden>Choose/Type a Pokémon...</option>
                <%- include("partials/allPokemon") -%>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <label for="pokemon-form" class="form-label selection-label">Form</label>
            <select class="form-select" id="pokemon-form" name="form">
              <option value="not-shiny">Not Shiny</option>
              <option value="shiny">Shiny</option>
            </select>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-dark selection-button">Add Pokémon</button>
        </div>
      </form>
    </div>
  </section>

  <% if (pokemonList.length > 0) { %>
    <section id="team">
      <div class="container-fluid">
        <div class="text-center">
          <h1 class="team-heading">Your Team!</h1>
          <form action="/team-action" method="post" class="team-button-row">
            <button type="submit" name="submitButton" value="save" class="btn btn-dark team-save-button">Save</button>
            <button type="submit" name="submitButton" value="load" class="btn btn-dark">Load</button>
            <button type="submit" name="submitButton" value="clear" class="btn btn-dark team-clear-button">Clear</button>
          </form>
        </div>
        <div class="border border-secondary team-navigation">
          <% for (let i = 0; i < pokemonList.length; i++) { %>
            <button class="icon-button" name="<%= pokemonList[i].originalName %>"><img src="<%= pokemonList[i].iconURL %>"></button>
          <% } %>
        </div>
        <% for (let i = 0; i < pokemonList.length; i++) { %>
          <% let pokemon = pokemonList[i]; %>
          <div class="card border-secondary mb-3" id="<%= pokemon.originalName %>">
            <div class="card-header">
              <div class="row">
                <div class="col-10">
                  <h3 class="pokemon-heading"><%= pokemon.name %></h3>
                  <% for (let j = 0; j < pokemon.types.length; j++) { %>
                    <img class="type-icon" src="<%='images/types/' + pokemon.types[j] + '.webp' %>">
                  <% } %>
                </div>
                <div class="col-2">
                  <form action="/remove" method="post">
                    <button type="submit" name="removeButton" value="<%= i %>" class="btn btn-outline-danger remove-button">
                      <i class="fas fa-times remove-icon"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3">
                  <div class="row text-center">
                    <div class="col-0 col-sm-0 col-md-2 col-lg-0"></div>
                    <div class="col-12 col-md-2 col-lg-12">
                      <img class="pokemon-sprite" src="<%= pokemon.spriteURL %>">
                    </div>
                    <div class="col-0 col-sm-2 col-md-1 col-lg-0"></div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-12 measurement-section">
                      <h5 class="measurement-heading">Height</h5>
                      <p><%=pokemon.height %></p>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-12 measurement-section">
                      <h5 class="measurement-heading">Weight</h5>
                      <p><%=pokemon.weight %> lbs</p>
                    </div>
                    <div class="col-0 col-sm-2 col-md-1 col-lg-0"></div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-8">
                  <% for (let j = 0; j < statNames.length; j++) { %>
                    <p class="stat-name"><%= statNames[j] %></p>
                    <div class="<%= "stat-value-" + pokemon.stats[j] %>">
                      <div class="progress stat-bar">
                        <div class="progress-bar bg-dark"><%= pokemon.stats[j] %></div>
                      </div>
                    </div>
                  <% } %>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                  <h5 class="third-column-heading">Abilities</h5>
                  <ul class="no-bullet-list">
                    <% for (let j = 0; j < pokemon.abilities.length; j++) { %>
                      <li>
                        <a class="link" href="<%= pokemon.abilities[j].url %>"
                          target="_blank"><%= pokemon.abilities[j].ability %></a>
                      </li>
                    <% } %>
                  </ul>
                  <h5 class="third-column-heading">Notable Moves</h5>
                  <ul class="no-bullet-list">
                    <% for (let j = 0; j < pokemon.notableMoves.length; j++) { %>
                      <li>
                        <a class="link" href="<%= pokemon.notableMoves[j].url %>"
                          target="_blank"><%= pokemon.notableMoves[j].name %></a>
                      </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </section>
  <% } else { %>
    <div class="container-fluid load-team-section">
      <p>Already saved a team from a previous session? <a class="link" href="/load-team">Load your team!</a></p>
    </div>
  <% } %>
  <!-- jQuery, Bootstrap Bundle with Popper, and custom scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script src="scripts/setBarWidth.js"></script>
  <script src="scripts/scrollHandler.js"></script>
</body>
</html>